#_uniq{
    color:green
}
p{
    color:red;
}
h1{
    color:blue;
}
.p_purple{
    color: purple;
}
.p_orange{
    color:orange;
}
*{
    color: blue;
}
ul li{
    list-style-type:square
}
header{
    position: fixed;
}