header {
  width: 100%;
  height: 10%;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}
* {
  box-sizing: border-box;
  text-align: center;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
main {
  width: 100%;
  height: 90%;
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
}
.logo {
  width: 20%;
  height: 90%;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.home {
  width: 40%;
  height: 90%;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3px;
}
.profile {
  width: 20%;
  height: 90%;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3px;
}
.menu {
  width: 25%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
}
.allpost {
  width: 40%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: start;

  padding: 10px;
  gap: 10px;
}
.contacts {
  width: 20%;
  height: 100%;
  background-color: green;
}
.fblogo {
  width: 20%;
  height: 90%;
  background-color: orange;
  border-radius: 50%;
}
.search {
  width: 70%;
  height: 90%;
  background-color: orange;
}
.img {
  width: 15%;
  height: 80%;
  background-color: orange;
}
.pp {
  width: 20%;
  height: 80%;
  background-color: orange;
}
.menu1 {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  background-color: purple;
  align-items: center;
}
.post {
  width: 95%;
  height: 80%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.who {
  width: 100%;
  height: 10%;
  background-color: orange;
}
.text {
  width: 100%;
  height: 10%;
  background-color: orange;
}
.postimage {
  width: 100%;
  height: 70%;
  background-color: orange;
}
.like {
  width: 100%;
  height: 10%;
  background-color: orange;
}
.logoimage:hover {
  color: red;
}
