.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.color-blue {
  color: blue;
}
h2 {
  color: red;
}
h2:hover {
  color: white;
  background-color: black;
}
img:hover {
  transform: translate(20px, -20px) scale(2) rotate(45deg);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
/* .icon {
  
} */
