body {
  margin: 20px;
}
.nav {
  /* background-color: blue; */
  display: flex;
  gap: 20px;
  justify-content: end;
}
.nav h2 {
  /* background-color: white; */
  color: rgb(36, 33, 33);
}
a {
  text-decoration: none;
}
