@media screen and (min-width: 769px) and (max-width: 1600px) {
  .top {
    width: 100%;
    height: 10vh;
    background-color: aqua;
  }
  body {
    margin: 0;
  }
  .container {
    display: flex;
  }
  .left {
    height: 90vh;
    width: 15%;
    background-color: purple;
  }
  .right {
    height: 90vh;
    width: 85%;
    background-color: blue;
  }
  .left1 {
    visibility: visible;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .top {
    width: 100%;
    height: 10vh;
    background-color: aqua;
  }
  body {
    margin: 0;
  }
  .container {
    display: flex;
  }
  .newleft {
    height: 90vh;
    width: 15%;
    background-color: orange;
  }
  .right {
    height: 90vh;
    width: 85%;
    background-color: blue;
  }
  .left2 {
    visibility: visible;
  }
  .left3 {
    visibility: hidden;
  }
}
